@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  html{
    font-size: 1.25vw;
  }
  body {
    font-family: 'Inter', system_ui, sans-serif;
  }
  button{
    cursor: pointer;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: purple;
    border-radius: 9999rem;
  }
}

@layer components {
  .movie-card {
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .movie-card:hover {
    transform: scale(1.05);
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  }
}